In [1]:
!pip install sanpy --user
!pip install pandas==1.3.0 --user

import pkg_resources
pkg_resources.require("pandas==1.3.0")
import pandas as pd

Requirement already satisfied: sanpy in ./.local/lib/python3.7/site-packages (0.9.1)
Requirement already satisfied: pandas==1.3.0 in ./.local/lib/python3.7/site-packages (from sanpy) (1.3.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.7/site-packages (from sanpy) (59.4.0)
Requirement already satisfied: requests in ./.local/lib/python3.7/site-packages (from sanpy) (2.27.1)
Requirement already satisfied: iso8601 in ./.local/lib/python3.7/site-packages (from sanpy) (1.0.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas==1.3.0->sanpy) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.7/site-packages (from pandas==1.3.0->sanpy) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas==1.3.0->sanpy) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests->sanpy) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.7/site-packages (from requests->sanpy) (2.0.8)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests->sanpy) (3.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests->sanpy) (2021.10.8)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas==1.3.0->sanpy) (1.16.0)
Requirement already satisfied: pandas==1.3.0 in ./.local/lib/python3.7/site-packages (1.3.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas==1.3.0) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas==1.3.0) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.7/site-packages (from pandas==1.3.0) (1.19.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas==1.3.0) (1.16.0)

In [2]:
import san

dogecoin_1 = san.get("ohlc/dogecoin",
from_date="2020-01-01",
to_date="2021-01-01",
interval="1h")

dogecoin_2 = san.get("ohlc/dogecoin",
from_date="2021-01-02",
to_date="2022-01-01",
interval="1h")

dogecoin_3 = san.get("ohlc/dogecoin",
from_date="2022-01-02",
to_date="2022-04-09",
interval="1h")

In [3]:
dogecoin = pd.concat([dogecoin_1, dogecoin_2, dogecoin_3], axis=0)
dogecoin

,closePriceUsd,highPriceUsd,lowPriceUsd,openPriceUsd
datetime,,,,
2020-01-01 00:00:00+00:00,0.002026,0.002030,0.002026,0.002027
2020-01-01 01:00:00+00:00,0.002031,0.002034,0.002024,0.002026
2020-01-01 02:00:00+00:00,0.002038,0.002039,0.002033,0.002033
2020-01-01 03:00:00+00:00,0.002029,0.002041,0.002029,0.002039
2020-01-01 04:00:00+00:00,0.002029,0.002031,0.002027,0.002030
...,...,...,...,...
2022-04-09 19:00:00+00:00,0.143269,0.143495,0.142939,0.143156
2022-04-09 20:00:00+00:00,0.143071,0.143742,0.143071,0.143269
2022-04-09 21:00:00+00:00,0.143581,0.143707,0.142924,0.142938
2022-04-09 22:00:00+00:00,0.143614,0.143722,0.143611,0.143623
2022-04-09 23:00:00+00:00,0.144306,0.144462,0.143431,0.143646

In [4]:
ethereum_1 = san.get("ohlc/ethereum",
from_date="2020-01-01",
to_date="2021-01-01",
interval="1h")

ethereum_2 = san.get("ohlc/ethereum",
from_date="2021-01-02",
to_date="2022-01-01",
interval="1h")

ethereum_3 = san.get("ohlc/ethereum",
from_date="2022-01-02",
to_date="2022-04-09",
interval="1h")

In [5]:
ethereum = pd.concat([ethereum_1, ethereum_2, ethereum_3], axis=0)
ethereum

,closePriceUsd,highPriceUsd,lowPriceUsd,openPriceUsd
datetime,,,,
2020-01-01 00:00:00+00:00,129.266097,129.539016,129.242672,129.539016
2020-01-01 01:00:00+00:00,130.522898,130.690890,129.246401,129.246401
2020-01-01 02:00:00+00:00,130.732169,130.799687,130.639852,130.642436
2020-01-01 03:00:00+00:00,130.346569,130.815814,130.240749,130.815814
2020-01-01 04:00:00+00:00,130.272685,130.544536,130.235744,130.395196
...,...,...,...,...
2022-04-09 19:00:00+00:00,3236.279655,3237.505228,3231.221195,3232.018149
2022-04-09 20:00:00+00:00,3229.277010,3246.348357,3229.277010,3236.167439
2022-04-09 21:00:00+00:00,3239.550675,3243.162771,3226.597475,3227.287332
2022-04-09 22:00:00+00:00,3245.040779,3246.867187,3239.534285,3239.710664
2022-04-09 23:00:00+00:00,3261.692951,3261.692951,3243.794704,3246.086795

In [6]:
bitcoin_1 = san.get("ohlc/bitcoin",
from_date="2020-01-01",
to_date="2021-01-01",
interval="1h")

bitcoin_2 = san.get("ohlc/bitcoin",
from_date="2021-01-02",
to_date="2022-01-01",
interval="1h")

bitcoin_3 = san.get("ohlc/bitcoin",
from_date="2022-01-02",
to_date="2022-04-09",
interval="1h")

In [7]:
bitcoin = pd.concat([bitcoin_1, bitcoin_2, bitcoin_3], axis=0)
bitcoin

,closePriceUsd,highPriceUsd,lowPriceUsd,openPriceUsd
datetime,,,,
2020-01-01 00:00:00+00:00,7175.561326,7195.124845,7175.561326,7195.124845
2020-01-01 01:00:00+00:00,7204.266293,7210.832312,7174.944153,7174.944153
2020-01-01 02:00:00+00:00,7233.087522,7233.087522,7212.375115,7212.375115
2020-01-01 03:00:00+00:00,7218.541090,7231.777431,7216.852360,7231.777431
2020-01-01 04:00:00+00:00,7212.448558,7218.437060,7212.179062,7218.119130
...,...,...,...,...
2022-04-09 19:00:00+00:00,42560.414323,42562.359877,42491.606802,42491.606802
2022-04-09 20:00:00+00:00,42477.478573,42632.972066,42477.478573,42558.868026
2022-04-09 21:00:00+00:00,42571.786353,42571.786353,42452.599035,42478.196735
2022-04-09 22:00:00+00:00,42544.298481,42624.848114,42543.904899,42575.124835
2022-04-09 23:00:00+00:00,42773.082667,42773.082667,42514.922715,42555.382620

In [8]:
sandbox_1 = san.get("ohlc/the-sandbox",
from_date="2020-01-01",
to_date="2021-01-01",
interval="1h")

sandbox_2 = san.get("ohlc/the-sandbox",
from_date="2021-01-02",
to_date="2022-01-01",
interval="1h")

sandbox_3 = san.get("ohlc/the-sandbox",
from_date="2022-01-02",
to_date="2022-04-09",
interval="1h")

In [9]:
sandbox = pd.concat([sandbox_1, sandbox_2, sandbox_3], axis=0)
sandbox

,closePriceUsd,highPriceUsd,lowPriceUsd,openPriceUsd
datetime,,,,
2020-08-14 13:00:00+00:00,0.067499,0.083252,0.067499,0.083252
2020-08-14 14:00:00+00:00,0.065622,0.067369,0.062051,0.062326
2020-08-14 15:00:00+00:00,0.067909,0.067909,0.062294,0.064251
2020-08-14 16:00:00+00:00,0.069604,0.071323,0.066896,0.067200
2020-08-14 17:00:00+00:00,0.075566,0.075566,0.068614,0.068614
...,...,...,...,...
2022-04-09 19:00:00+00:00,2.961990,2.964134,2.953004,2.958308
2022-04-09 20:00:00+00:00,2.954044,2.971752,2.954044,2.961860
2022-04-09 21:00:00+00:00,2.970627,2.970627,2.950908,2.951764
2022-04-09 22:00:00+00:00,2.977667,2.985781,2.971519,2.971519
2022-04-09 23:00:00+00:00,3.004666,3.005657,2.978359,2.979642

In [10]:
dogecoin.reset_index()

,datetime,closePriceUsd,highPriceUsd,lowPriceUsd,openPriceUsd
0,2020-01-01 00:00:00+00:00,0.002026,0.002030,0.002026,0.002027
1,2020-01-01 01:00:00+00:00,0.002031,0.002034,0.002024,0.002026
2,2020-01-01 02:00:00+00:00,0.002038,0.002039,0.002033,0.002033
3,2020-01-01 03:00:00+00:00,0.002029,0.002041,0.002029,0.002039
4,2020-01-01 04:00:00+00:00,0.002029,0.002031,0.002027,0.002030
...,...,...,...,...,...
19887,2022-04-09 19:00:00+00:00,0.143269,0.143495,0.142939,0.143156
19888,2022-04-09 20:00:00+00:00,0.143071,0.143742,0.143071,0.143269
19889,2022-04-09 21:00:00+00:00,0.143581,0.143707,0.142924,0.142938
19890,2022-04-09 22:00:00+00:00,0.143614,0.143722,0.143611,0.143623
19891,2022-04-09 23:00:00+00:00,0.144306,0.144462,0.143431,0.143646

In [11]:
dogecoin.reset_index().to_gbq('coins_sidas591.dogecoin', 
                 'vertex-339105',
                 chunksize=None, # I have tried with several chunk sizes, it runs faster when it's one big chunk (at least for me)
                 if_exists='replace'
                 )

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 7767.23it/s]

In [12]:
sandbox.reset_index().to_gbq('coins_sidas591.sandbox', 
                 'vertex-339105',
                 chunksize=None, # I have tried with several chunk sizes, it runs faster when it's one big chunk (at least for me)
                 if_exists='replace'
                 )

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 9799.78it/s]

In [13]:
ethereum.reset_index().to_gbq('coins_sidas591.ethereum', 
                 'vertex-339105',
                 chunksize=None, # I have tried with several chunk sizes, it runs faster when it's one big chunk (at least for me)
                 if_exists='replace'
                 )

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 6078.70it/s]

In [14]:
bitcoin.reset_index().to_gbq('coins_sidas591.bitcoin', 
                 'vertex-339105',
                 chunksize=None, # I have tried with several chunk sizes, it runs faster when it's one big chunk (at least for me)
                 if_exists='replace'
                 )

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 9554.22it/s]

In [15]:
dogecoin.to_csv('doge_price.csv')

In [16]:
sandbox.to_csv('sand_price.csv')

In [17]:
ethereum.to_csv('eth_price.csv')

In [18]:
bitcoin.to_csv('btc_price.csv')