In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df_btc = pd.read_csv('Data_Tweet_counts/btc.csv')
df_eth = pd.read_csv('Data_Tweet_counts/eth.csv')
df_doge = pd.read_csv('Data_Tweet_counts/doge.csv')

In [3]:
df_btc = df_btc[(df_btc['date']>='2021/01/01')&(df_btc['date']<'2022/01/01')]
df_btc = df_btc[['date', 'transactions', 'av_transaction_value', 'tweets', 'google_trends']]
df_btc['date'] = pd.to_datetime(df_btc['date'])
df_btc.rename(columns={"transactions": "BTC_transactions", "av_transaction_value": "BTC_av_trans_value_USD",
                         "tweets": "BTC_tweets", "google_trends": "BTC_google_trends", "date": "datetime"}, inplace=True)
df_btc = df_btc.set_index('datetime')
df_btc.head()

,BTC_transactions,BTC_av_trans_value_USD,BTC_tweets,BTC_google_trends
datetime,,,,
2021-01-01,257931.0,181787.0,55480.0,139.530
2021-01-02,296960.0,223687.0,145059.0,243.368
2021-01-03,358958.0,206058.0,141596.0,285.763
2021-01-04,373561.0,163866.0,82412.0,235.192
2021-01-05,353934.0,201248.0,68133.0,195.552

In [4]:
df_eth = df_eth[(df_eth['date']>='2021/01/01')&(df_eth['date']<'2022/01/01')]
df_eth = df_eth[['date', 'transactions', 'av_transaction_value', 'tweets', 'google_trends']]
df_eth['date'] = pd.to_datetime(df_eth['date'])
df_eth.rename(columns={"transactions": "ETH_transactions", "av_transaction_value": "ETH_av_trans_value_USD",
                         "tweets": "ETH_tweets", "google_trends": "ETH_google_trends", "date": "datetime"}, inplace=True)
df_eth = df_eth.set_index('datetime')
df_eth.head()

,ETH_transactions,ETH_av_trans_value_USD,ETH_tweets,ETH_google_trends
datetime,,,,
2021-01-01,1136582.0,1634.0,6939.0,23.508
2021-01-02,1170839.0,1650.0,8771.0,31.453
2021-01-03,1234419.0,4064.0,19081.0,62.154
2021-01-04,1275169.0,6059.0,20818.0,74.619
2021-01-05,1258347.0,4016.0,12811.0,57.702

In [5]:
df_doge = df_doge[(df_doge['date']>='2021/01/01')&(df_doge['date']<'2022/01/01')]
df_doge = df_doge[['date', 'transactions', 'av_transaction_value', 'tweets', 'google_trends']]
df_doge['date'] = pd.to_datetime(df_doge['date'])
df_doge.rename(columns={"transactions": "DOGE_transactions", "av_transaction_value": "DOGE_av_trans_value_USD",
                         "tweets": "DOGE_tweets", "google_trends": "DOGE_google_trends", "date": "datetime"}, inplace=True)
df_doge = df_doge.set_index('datetime')
df_doge.head()

,DOGE_transactions,DOGE_av_trans_value_USD,DOGE_tweets,DOGE_google_trends
datetime,,,,
2021-01-01,34595.0,3697.0,2669.0,0.500
2021-01-02,57582.0,25652.0,69495.0,4.235
2021-01-03,45008.0,41754.0,34797.0,3.678
2021-01-04,39268.0,29734.0,18656.0,1.637
2021-01-05,33127.0,28718.0,13411.0,1.182

In [6]:
df_tweets = df_btc.join(df_eth).join(df_doge)

In [7]:
df_tweets.to_csv('Tweet_cleaned_daily.csv')